# Datenvisualisierung Übung - Barplots

<img width="340" align = "right" hspace="40" src="Minden_in_MI.svg.png"/> 

<div style="text-align: left" style=“line-height: 150%“>
<p></p>  
<p>

Nachdem wir im letzten *JupyterNotebook* zusammen verschiedene Bevölkerungspyramiden für die *Stadt Bielefeld* erstellt haben, bei denen wir uns insbesondere die Bevölkerungsstruktur der älteren Bielefelder:innen angeschaut haben, wollen wir jetzt mit einem Datensatz der Stadt Minden betrachten, wie die Zusammensetzung der jüngeren Bevölkerung in Minden aussieht.

Hierzu haben wir einen Datensatz mit dem Namen: "Daten_Alter_Mi_2020". Diesen gilt es nun mit den Kenntnissen, die wir in dem ersten Notebook erworben haben aufzubereiten und als Bevölkerungspyramide zu visualisieren.</p>

 <div class="pull-right">  
<p style="font-size:6px;"> Von Hagar66 - Based upon template:<br>, 
   <a href="https://creativecommons.org/licenses/by-sa/3.0/"> CC BY-SA 3.0</a> 
    <a href="https://upload.wikimedia.org/wikipedia/commons/0/09/Petershagen_in_MI.svg"> Wikimedia</a> 
    </p>
</div>

Als erstes laden wir die benötigten Pakete:

In [1]:
#benoetigte Pakete laden
library("tidyverse")
library("car")

Warning message:
"Paket 'tidyverse' wurde unter R Version 4.1.1 erstellt"
-- Attaching packages ----------------------------------------------------------------------------------------------------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.5     v purrr   0.3.4
v tibble  3.1.2     v dplyr   1.0.7
v tidyr   1.1.3     v stringr 1.4.0
v readr   1.4.0     v forcats 0.5.1

Warning message:
"Paket 'ggplot2' wurde unter R Version 4.1.1 erstellt"
Warning message:
"Paket 'dplyr' wurde unter R Version 4.1.1 erstellt"
-- Conflicts -------------------------------------------------------------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

Lade nötiges Paket: carData


Attache Paket: 'car'


Das folgende Objekt ist maskiert 'package:dplyr':

    recode


Das folgende Objekt ist maskiert 'package:purrr':

    some

In [2]:
#csv Daten einlesen
data_csv_MI <- read.csv2("Daten_Alter_Mi_2020.csv", na="NA", header = TRUE)
data_csv_MI

    Alter        Geburtsjahr männlich weiblich Gesamt
1   105          1915          2        0        2
2   103          1917          1        0        1
3   102          1918          0        1        1
4   101          1919          2        7        9
5   100          1920          1       10       11
6   99           1921          4        5        9
7   98           1922          6       16       22
8   97           1923          4       29       33
9   96           1924         10       38       48
10  95           1925         28       57       85
11  94           1926         21       62       83
12  93           1927         46       92      138
13  92           1928         41      110      151
14  91           1929         49      132      181
15  90           1930         67      127      194
16  89           1931         86      159      245
17  88           1932         81      196      277
18  87           1933         89      187      276
19  86           1934        165      262      427
20  85           1935        206      285      491
21  84           1936        225      325      550
22  83           1937        259      401      660
23  82           1938        320      404      724
24  81           1939        330      447      777
25  80           1940        324      460      784
26  79           1941        357      424      781
27  78           1942        279      368      647
28  77           1943        313      392      705
29  76           1944        331      403      734
30  75           1945        214      272      486
... ...          ...         ...      ...      ...
78  27           1993          518      455     973
79  26           1994          484      473     957
80  25           1995          504      468     972
81  24           1996          537      494    1031
82  23           1997          553      472    1025
83  22           1998          521      467     988
84  21           1999          568      428     996
85  20           2000          506      436     942
86  19           2001          445      441     886
87  18           2002          458      433     891
88  17           2003          471      399     870
89  16           2004          435      353     788
90  15           2005          469      410     879
91  14           2006          432      357     789
92  13           2007          433      385     818
93  12           2008          434      377     811
94  11           2009          415      380     795
95  10           2010          413      373     786
96  9            2011          409      402     811
97  8            2012          408      411     819
98  7            2013          384      359     743
99  6            2014          406      410     816
100 5            2015          421      386     807
101 4            2016          506      412     918
102 3            2017          430      410     840
103 2            2018          414      384     798
104 1            2019          456      358     814
105 0            2020          376      331     707
106 Stadt Minden   NA        41119    41915    1373
107 105            NA           NA       NA      NA

_Lösung:_
Wir haben eine via Semikolon getrennte CSV-Datei vorliegen, die eine Kopfzeile besitzt. Daher ist der read.csv2 Befehl für und die richtige Wahl. Auch den Befehlsteil header = TRUE nutzen wir hier.

# Exkurs: Wie können Zeilen aus einem Datensatz entfernt werden?
Hierzu betrachten wir diesen Beispiel Datensatz der lediglich einige Zahlen enthält und geben diesen über die R-Console aus. Für ein fiktives Beispiel wollen wir die Zeile, welche die Zahl 9 beinhaltet entfernen.

In [ ]:
#Exkurs Datensatz
data.test <- data.frame(c(2, 5,9, 3, 4, 2 ,5, 1))
data.test

Um die neun zu entfernen erstellen wir ein Objekt und weisen diesem die Zeilennummer zu die zur Zahl 9 gehört. Bei Test-Datensatz ist das die Zeile 3, wie wir in der Ausgabe der R Console sehen können. Diese Zeile entfernen wir jetzt aus unserem Testdatensatz und erstellen ein Objekt ohne sie.

In [ ]:
#Entfernen der Zeile 3
data.neu <-data.test[-keine.neun,]
data.neu

# Zurück zu den Mindener Daten
# Aufbereitung
Betrachtetet in der R Console den Datensatz der stadt Minden, gibt es Zeilen die für unsere Visualisierung nicht benötigt werden? Falls Du welche findest kannst Du sie wie im Exkurs gezeigt entfernen und einen neuen Datensatz ohnse sie erstellen.

In [ ]:
#Entfernen der Zeilen 106 und 107
entfernen <- c(106, 107)

data_MI <- data_csv_MI[-entfernen,]
data_MI

_Lösung:_
Für unsere Visualisierung entfernen wir die Zeilen 106 und 107. Die Zeile 107 könnte ein Eingabefehler sein, da diese Zeile lediglich den ALterswert 105 enthält und nach dem Insgesamt Wert für die Stadt Minden folgt.
Der Insgesamtwert in Zeile 105 ist für unser Visualisierung an dieser Stelle auch kein Wert den wir benötigen, da er nicht zur Struktur der anderen Daten passt. Hiermit ist gemeint, dass in der Spalte für das ALter kein Alter als Ausprägung steht sondern "Stadt Minden". Die aufaddierten Insgesamtwerte in der Zeile 105 können wir auch mit R berechnen.

# Aufbereitung
Jetzt ist es sinnvoll, dass wir uns die Variablen anschauen und ggfs. Änderungen vornhemen. Wie lässt sich das mit Hilfe von R lösen?

In [ ]:

sapply(data_MI, class)


#Alter als nummerisch klassifizieren
class(data_MI$Alter)
alter_num <- as.numeric(data_MI$Alter)
alter_num


#Geburtsjahr als nummerische klassifizieren
#class(data_MI$Geburtsjahr)
#Geburtsjahr_num <- as.numeric(data_MI$Geburtsjahr)
#Geburtsjahr_num


#maennlich als Nummerisch klassifizieren
class(data_MI$männlich)
maennlich_num <- as.numeric(data_MI$männlich)
maennlich_num


#weiblich als Nummerisch klassifizieren
class(data_MI$weiblich)
weiblich_num <- as.numeric(data_MI$weiblich)
weiblich_num

#Gesamt als nummerische klassifizieren
class(data_MI$Gesamt)
gesamt_num <- as.numeric(data_MI$Gesamt)
gesamt_num


MI_Aufbereitet <- data.frame(Alter_num, maennlich_num, weiblich_num,  gesamt_num)
MI_Aufbereitet

_Lösung:_
Wir betrachten zunächst die Klassifierzung der einzlenen Variablen und klassifizieren diese anschließend Schritt für Schritt in die für unsere Visualisierung benötigten Form um. Anschließend erstellen wir einen neuen Datensatz, der unsere so aufbereiteten Variablen enthält. 
Die Variable Geburtstjahr können wir auch in ihrer Klassifizierung verändern, allerdings benötigen wir sie für die weitere Visualisierung nicht, deswegen verzichten wir darauf sie mit in den neuen Datensatz zu schreiben.

# Aufbereitung
Wir müssen jetzt überlegen, ob die Daten in der Form vorliegen mit der wir unsere Bevölkerungspyramide erstellen können oder ob weitere Aufbereitungsschritte notwendig sind. Welche Aufbereitung ist an dieser Stelle ggfs. noch notwendig?

In [ ]:
#Aggregation auflösen
MI_Freq_Alter <- rep(MI_Aufbereitet$Alter_num,MI_Aufbereitet$gesamt_num) 
summary(MI_Freq_Alter)
table(MI_Freq_Alter)

MI_Freq_maennlich <- rep(MI_Aufbereitet$maennlich_num, MI_Aufbereitet$gesamt_num) 
summary(MI_Freq_maennlich)
table(MI_Freq_maennlich)


MI_Freq_weiblich <- rep(MI_Aufbereitet$weiblich_num, MI_Aufbereitet$gesamt_num) 
summary(MI_Freq_weiblich)
table(MI_Freq_weiblich)

data_2020 <- data.frame(MI_Freq_Alter, MI_Freq_maennlich, MI_Freq_weiblich)

_Lösung:_ 
Wie bei dem Datensatz mit dem wir die Bevölkerungspyramiden für die Stadt Bielefeld erstellt haben ist es notwendig die Aggregation der Daten aufzulösen. Wir multiplizieren hierfür die Häufigkeit der Mindener:innen, die in unserer Variable "gesamt_num" enthalten ist, jeweils mit unsereren beiden aufbereiteteten Geschlechter-Variablen sowie der Alters-Variablen . Das sind somit 3 weitere Vektoren die wir erstellen müssen. Der rep() Befehl gibt hierbei anhand der Häufigkeit der Mindener:innen das jeweilige Element(Alter/Geschlecht: männlich/weiblich) in entsprechender Anzahl zurück. Die so entstandenen Objekte werden zum Schluss in einen neuen Datensatz geschrieben.

# Bevölkerungspyramide
Jetzt können wir die Bevölkerungspyramide der Stadt Minden für das Jahr 2020 erstellen. Da wir die Daten für lediglich ein Jahr (2020) vorliegen haben und die beiden Geschlechtergruppen als einzelne Variablen bzw. Vektoren vorliegen können wir darauf verzichten Subsets anzulegen und direkt mit der Visualisierung starten. Hier können wir auf das Baukastenprinzip zurückgreifen mit dem es möglich ist Visualisierungen anzupassen und auszugestalten. 
Wie sieht unsere Bevölkerungspyramide aus?

In [ ]:
#Pyramide Minden
par(bg = "gray80") 
barplot(table(MI_Freq_weiblich, MI_Freq_Alter), axes = FALSE,
        horiz = TRUE, axis.lty = -1, border = NA, 
        xlim =c(-1600,1600), col = "firebrick3")
        grid (16,0, lty = 6, col = "cornsilk2")
barplot(-table(MI_Freq_maennlich, MI_Freq_Alter), axes =FALSE, horiz = TRUE, axis.lty = -1, border = NA,
        xlim =c(-1600,1600), col = "deepskyblue3", add=T)
        grid (16,0, lty = 6, col = "cornsilk2")
abline(v=0,lwd=0,col=par("bg"), font = 4)
for (i in seq(10,105,by=10)) text(0,i+i*0.2,i,cex=1.0)
mtext(abs(seq(-1600,1600,by=200)),at=seq(-1600,1600,by=200),1,line=0,cex=0.9, las=2)

#Beschriftung Links - Maenner
mtext("Männer",3,line=0,adj=0,cex=1.3)

#Beschriftung Rechts - Frauen
mtext("Frauen",3,line=0,adj=1,cex=1.3)

#Ueberschrift
mtext("Bevölkerungspyramide Minden 2020",
      3,line=-1.5,adj=0,cex=1.5,font=4,outer=T)

#Untertitel
mtext("(Datenquelle: Stadt Minden)",
      3,line=-2.5,adj=0,cex=1,font=3,outer=T)

#X-Achse: Beschriftung
mtext("Mindener:innen",
      1,line=-3.25,adj=0.55,cex=0.95,font=2,outer=T)

#y-Achse Beschriftung
mtext("Alter in Jahren*",
      3,line=-4,adj=0.55 ,cex=0.95,font=2,las=1,outer=T)

_Lösung:_ 
Es sind Anpassung in Bezug auf die vorliegenden Daten notwenig. Wir müssen die Skalierungen der Achsen anpassen und die Beschrifttungen ausrichten. Auch die Sequenz der Hilfslinien, sofern wir diese einzeichnen lassen wollen müssen wir entsprechend anpassen. Ansonsten ist die Erstellung der Bevölkerungspyramide für die Stadt Minden relativ ähnlich zur Erstellung der Pyramiden für die Stadt Bielefeld.

Falls noch Fragen offen geblieben sind oder etwas nicht so geklappt hat wie es soll, kannst Du dich wie immer gerne per Nachricht im Forum oder per Mail an uns wenden